@import "tailwindcss";
@plugin "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.butt {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.butt:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.3);
}

.butt:active {
    transform: scale(0.97);
}
